.maindiv {
  /* Estilos de grilla  */
  display: grid;
  grid-template-areas: "nav" "header" "cartas" "main" "footer"; }

nav {
  grid-area: nav; }

header {
  grid-area: header; }

.cartas {
  grid-area: cartas; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.divgen {
  display: flex;
  justify-content: center; }

.conf img {
  display: flex;
  flex-direction: column; }

.divconfianza {
  padding-top: 50px; }

.logoimg {
  border-radius: 50px 50px 50px 50px; }

.cartas {
  background-color: #dfdbd9; }

.tarjetas-main {
  padding-left: 15rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.tarjetas-main {
  display: grid;
  justify-items: center;
  text-align: center; }

.cartamain {
  border-radius: 50px;
  transition: transform .2s, box-shadow .2s;
  margin-top: 1rem; }

.cartamain img {
  border-radius: 50px 50px 0 0; }

.cartamain:hover {
  border: none;
  transform: translate(0, -20px);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75); }

.container {
  width: 33rem; }

.imgcar {
  width: 100%; }

footer {
  background-color: #000000; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer ul {
    list-style-type: none; }
  .footer li a {
    text-decoration: none; }

.lista1 a {
  font-size: 20px;
  border: solid white 1px;
  padding: 10px;
  color: black;
  border-radius: 10px;
  background-color: #fffefe; }

.lista1 h3 {
  color: white; }

.lista2 {
  font-size: 22px;
  margin-right: 30px; }
  .lista2 li {
    padding: 10px; }
    .lista2 li a {
      font-size: 22px; }

/* --------------------------------------------------------- */
.maintransp {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: #dfdbd9;
  align-items: center;
  flex-wrap: wrap; }

.tituloint, .cuadro2 {
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
  background-color: #dfa457; }

.btncotizar {
  font-size: 15px;
  border: solid black 2px;
  background-color: black;
  cursor: pointer; }
  .btncotizar a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center; }

/* --------------------------------------------------------- */
.inicio {
  padding-top: 100px; }

.mainreg {
  height: auto; }

.descrip {
  background-color: #1e272e; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #dfdbd9;
  font-family: 'Manjari', sans-serif; }

/* Div contenedor */
.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 1.6em auto;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(5, 1fr); }

.contenedor > .header, .contenedor > .contenido, .contenedor > .sidebar, .contenedor > div {
  background: #fff;
  padding: 20px;
  border: 1px solid #000000; }

.contenedor > .header {
  grid-column: 1/-1;
  background-color: #1e272e;
  color: #ffffff; }

.contenedor > .contenido {
  grid-column: span 3;
  grid-row: span 4; }

.contenido > .article {
  background: #808e9b;
  padding: 20px;
  margin-top: 5px;
  color: #dfe6e9; }

.contenido .article h1,
.contenido .article p {
  padding: 10px; }

.contenedor > .sidebar {
  grid-column: span 2;
  grid-row: span 4;
  background: #485460;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center; }

.contenedor .sidebar img {
  display: block;
  width: 100%;
  margin-top: 5px; }

.red-facebook {
  color: #0000ff; }

.red-instagram {
  color: #dd208b; }

.red-whatsapp {
  color: #17700b; }

@media screen and (min-width: 769px) {
  .maindiv {
    /* Estilos de grilla */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav nav nav"  "header header header" "cartas cartas cartas" "main main main" "footer footer footer"; }
  .conf img {
    flex-direction: column; }
  .tarjetas-main {
    padding-left: 0px;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px; }
  .container {
    width: auto; }
  .lista2 {
    margin-right: 35px;
    font-size: 30px; } }

.mainreg {
  height: 42rem; }

@media screen and (max-width: 425px) {
  .maindiv {
    /* Estilos de grilla  */
    display: grid;
    grid-template-areas: "nav" "header" "cartas" "main" "footer"; }
  .tarjetas-main {
    padding-left: 6rem; }
  .header {
    text-align: center; }
  .contenedor .contenido {
    grid-column: 1 / -1; }
  .contenedor .sidebar {
    grid-column: 1 / 6; } }
