.maindiv {
  /* Estilos de grilla  */
  display: grid;
  grid-template-areas: "nav" "header" "cartas" "main" "footer"; }

nav {
  grid-area: nav; }

header {
  grid-area: header; }

.cartas {
  grid-area: cartas; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.divgen {
  display: flex;
  justify-content: center; }

.conf img {
  display: flex;
  flex-direction: column; }

.divconfianza {
  padding-top: 50px; }

.logoimg {
  border-radius: 50px 50px 50px 50px; }

.cartas {
  background-color: #dfdbd9; }

.tarjetas-main {
  padding-left: 15rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.tarjetas-main {
  display: grid;
  justify-items: center;
  text-align: center; }

.cartamain {
  border-radius: 50px;
  transition: transform .2s, box-shadow .2s;
  margin-top: 1rem; }

.cartamain img {
  border-radius: 50px 50px 0 0; }

.cartamain:hover {
  border: none;
  transform: translate(0, -20px);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75); }

.container {
  width: 33rem; }

footer {
  background-color: #000000; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer ul {
    list-style-type: none; }
  .footer li a {
    text-decoration: none; }

.lista1 a {
  font-size: 20px;
  border: solid white 1px;
  padding: 10px;
  color: black;
  border-radius: 10px;
  background-color: #fffefe; }

.lista1 h3 {
  color: white; }

.lista2 {
  font-size: 22px;
  margin-right: 30px; }
  .lista2 li {
    padding: 10px; }
    .lista2 li a {
      font-size: 22px; }

/* --------------------------------------------------------- */
.maintransp {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: #dfdbd9;
  align-items: center;
  flex-wrap: wrap; }

.tituloint, .cuadro2 {
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
  background-color: #dfa457; }

.btncotizar {
  font-size: 15px;
  border: solid black 2px;
  background-color: black;
  cursor: pointer; }
  .btncotizar a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center; }

/* --------------------------------------------------------- */
.inicio {
  background-color: #dfdbd9;
  height: 40em; }

.registrarse {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black;
  padding-top: 70px; }

.red-facebook {
  color: #0000ff; }

.red-instagram {
  color: #dd208b; }

.red-whatsapp {
  color: #17700b; }

@media screen and (min-width: 769px) {
  .maindiv {
    /* Estilos de grilla */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav nav nav"  "header header header" "cartas cartas cartas" "main main main" "footer footer footer"; }
  .conf img {
    flex-direction: column; }
  .tarjetas-main {
    padding-left: 0px;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px; }
  .container {
    width: auto; }
  .lista2 {
    margin-right: 35px;
    font-size: 30px; } }

@media screen and (max-width: 425px) {
  .maindiv {
    /* Estilos de grilla  */
    display: grid;
    grid-template-areas: "nav" "header" "cartas" "main" "footer"; }
  .tarjetas-main {
    padding-left: 6rem; } }
