.maindiv{
    /* Estilos de grilla  */
   display: grid;
   grid-template-areas: 
   "nav"
   "header"
   "cartas"
   "main"
   "footer"
   ;
  } 
  nav{
   grid-area: nav;
  }
  header{
   grid-area: header;
  }
  .cartas{
      grid-area: cartas;
  }
  main{
   grid-area: main;
  }
  footer{
   grid-area: footer;
  }