.divgen{
    display: flex;
    justify-content: center;
  }
  
.conf{
     img{
         display: flex;
         flex-direction: column;
     }
  
 }
 .divconfianza{
     padding-top: 50px;
 }
 .logoimg{
    border-radius: 50px 50px 50px 50px;
}


.tarjetas-main{ 
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center; }
.cartamain {
      border-radius: 50px;
      transition: transform .2s, box-shadow .2s;
      margin-top: 1rem; }
.cartamain img {
        border-radius: 50px 50px 0 0; }
.cartamain:hover {
        border: none;
        transform: translate(0, -20px);
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.75); }

.container{

}


footer{
    background-color: #000000;
  }
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
     ul{
       list-style-type: none;}
       li a{
           text-decoration: none;
         }

  }
  
  .lista1 a{
    font-size: 20px;
    border: solid rgb(255, 255, 255) 1px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 254, 254);
  }
  .lista1 h3{
      color: white;
  }
  .lista2{
    font-size: 22px;
    margin-right: 30px;
    

    li {

      padding: 10px; 
        a{
            font-size: 22px;
        }
    }

}