@media screen and (min-width: 769px){
    .maindiv{
        /* Estilos de grilla */
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr;
        grid-template-areas:
        "nav nav nav" 
        "header header header"
        "cartas cartas cartas"
        "main main main"
        "footer footer footer"
        ;
    }
    .conf{
        img{
            flex-direction: column;
        }
    }
.tarjetas-main{
    padding-left: 0px;
    justify-content: space-between; 
    flex-direction: row;
    gap: 30px;}
.container{
    width: auto;
}

      
 .lista2{
    margin-right: 35px;
    font-size: 30px; }
}


.mainreg{
    height: 42rem;
}

@media screen and (max-width: 425px){
    .maindiv{
        /* Estilos de grilla  */
       display: grid;
       grid-template-areas: 
       "nav"
       "header"
       "cartas"
       "main"
       "footer"
       ;
      } 
      .tarjetas-main{
        padding-left: 6rem;;}

        .header {
            text-align: center;
        }
        .container .contenido {
            grid-column: 1 / -1;
        }
        .container .sidebar {
            grid-column: 1 / 6;
        }
    
}